body{
	background-image: url(../images/dstarback.jpg);
	background-size: cover;
	text-align: left;
}

.title{
	font-size: 50px;
	color: yellow;
}

.game{
	text-align: center;
	color: #A2A0A0;
}

#victory, #currentWord, #numGuess, #guessedWord{
	color: green;
	font-size: 28px;
}